fastapi==0.116.1
uvicorn[standard]==0.35.0
flask==3.0.3
flask-cors==5.0.0
gunicorn==23.0.0
numpy==1.26.4
pandas==2.2.2
scikit-learn==1.5.2
tensorflow==2.16.1
python-multipart==0.0.20
opencv-python-headless==4.10.0.84
pillow==10.4.0
fpdf2==2.8.3
openai==1.99.9
python-dotenv==1.0.1
